@import "reset";

@mixin features-container {
  width: 1200px;
  border: 1px solid black;
  margin: auto;
}

@mixin features-stripe {
  width: 1200px;
  // background-color: black;
  // border: 1px solid white;
  margin: auto;
  color: white;
}

select {
    border:none;
    background-color: inherit;
    color: white;
    font-family: "Segoe UI", sans-serif;
    // -webkit-appearance: none;
    // -moz-appearance: none;
    // appearance: none;
    // -ms-appearance: none;
}

i {
  font-size: 15px;
  margin: 0 7px 0 0;
  color: #009CFF;

  ~ a {
    font-size: 12px;
    font-family: "Segoe UI", sans-serif;
    color: grey;
    text-decoration: none;
    margin: 0 20px 0 0;
  }
}



li {
  display: inline-block;
}

#whole-container {
  font-family: "Segoe UI", sans-serif;

  header, footer {
    background-color: black;
    height: 90px;

    .stripe-container {
        @include features-stripe;
        display: flex;
        flex-direction: column;

        &-top {
          // border: 1px solid red;
          height: 40px;
          display: flex;
          justify-content: flex-end;
          line-height: 40px;

          #contact {
            width: 450px;
            // border: 1px solid white;

            select {
              color: black;
              background-color: white;
              // margin-left: 35px;
            }
          }
        }

        &-bottom {
          display: flex;
          justify-content: flex-start;
          // border: 1px solid red;
          height: 50px;

          #logotype {
            width: 120px;
            display: flex;
            // border: 1px solid white;

            img {
              width: 90px;
              margin: auto;
            }
          }

          li {
            padding: 0 25px;
            font-size: 14px;
            line-height: 50px;

            > select {
                border:none;
                background-color: inherit;
                color: white;
                font-family: "Segoe UI", sans-serif;
                // -webkit-appearance: none;
                // -moz-appearance: none;
                // appearance: none;
                // -ms-appearance: none;
            }
          }
        }
    }
  }

  .jumbotron {
    height: 460px;
    @include features-container;
  }

}
