@import "reset";

@mixin features-container {
  width: 1200px;
  border: 1px solid black;
  margin: auto;
}

@mixin features-stripe {
  width: 1200px;
  height: 90px;
  background-color: black;
  // border: 1px solid white;
  margin: auto;
  color: white;
}

#whole-container {
  font-family: "Segoe UI", sans-serif;

  header, footer {

    .stripe-container {
        @include features-stripe;
        display: flex;
        flex-direction: column;

        &-top {

          border: 1px solid white;
          height: 40px;
        }

        &-bottom {
          
          border: 1px solid white;
          height: 50px;
        }
    }
  }

  .jumbotron {
    height: 460px;
    @include features-container;
  }

}
