@import "reset";

@mixin features-container {
  width: 1200px;
  border: 1px solid black;
  margin: auto;
}

@mixin features-stripe {
  width: 1200px;
  // background-color: black;
  // border: 1px solid white;
  margin: auto;
  color: white;
}

select {
    border:none;
    background-color: inherit;
    color: white;
    font-family: "Segoe UI", sans-serif;
    // -webkit-appearance: none;
    // -moz-appearance: none;
    // appearance: none;
    // -ms-appearance: none;
}

li {
  display: inline-block;
}

#whole-container {
  font-family: "Segoe UI", sans-serif;

  header, footer {
    background-color: black;
    height: 90px;

    .stripe-container {
        @include features-stripe;
        display: flex;
        flex-direction: column;

        &-top {
          border: 1px solid red;
          height: 40px;
          display: flex;
          justify-content: flex-end;

          #contact {
            width: 480px;
            border: 1px solid white;
          }
        }

        &-bottom {
          display: flex;
          justify-content: flex-start;
          border: 1px solid red;
          height: 50px;

          #logotype {
            width: 120px;
            border: 1px solid white;
          }

          li {
            padding: 0 25px;
            font-size: 14px;
            line-height: 50px;
          }
        }
    }
  }

  .jumbotron {
    height: 460px;
    @include features-container;
  }

}
